:root {
  --graph-height: 300px;

}

.graph-container {
  height: var(--graph-height);
}

.bar {
  width: 60px;
  transition: height 0.5s ease-in-out;
}

.percentage-label {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.btn-primary {
  background-color: #ff8c00;
}